#
# 빌드 및 컴파일 결과물 (Java/Gradle)
#
HELP.md
.gradle
build/
target/
out/
!gradle/wrapper/gradle-wrapper.jar
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
hs_err_pid*
replay_pid*

#
# Python 환경 및 캐시 (FastAPI)
#
__pycache__/
*.py[cod]
*.py,cover
*$py.class
.Python
.tox/
.nox/
.coverage*
.cache
.pytest_cache/
htmlcov/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/
.mypy_cache/
.ruff_cache/
.pyre/
.pytype/
local_settings.py
db.sqlite3
instance/
celerybeat-schedule
celerybeat.pid

.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/mongoSettings.xml
.idea/caches/build_file_checksums.ser

*.iws
*.iml
*.ipr
modules.xml
.idea/misc.xml


# VS Code
.vscode/
